.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr) 1;
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 5rem;
  grid-row-gap: 0.87rem;

  width: 22.8rem;
  height: 10.3rem;

  @media (max-width: 414px) {
    width: 20.3rem;
  }

  @media (max-width: 320px) {
    width: 18.75rem;
  }

  @media (min-width: 768px) {
    width: 21.25rem;
  }

  color: #fff;

  border: 2px solid #f8cf2c;
  border-radius: 5px;

  padding-bottom: 10px;

  h2 {
    padding-top: 5px;
    font-size: 1.4rem;

    @media (max-width: 414px) {
      font-size: 1.25rem;
    }

    &:hover {
      color: #f8cf2c;
      cursor: pointer;
    }
  }

  p {
    font-size: 1.25rem;
    margin-bottom: 4px;

    @media (max-width: 414px) {
      font-size: 1.12rem;
    }

    &:hover {
      color: #f8cf2c;
    }
  }

  span {
    font-size: 1rem;

    @media (max-width: 414px) {
      font-size: 1rem;
    }
  }

  .state {
    grid-area: 1 / 1 / 2 / 3;
  }
  .cases {
    grid-area: 2 / 1 / 3 / 2;
  }
  .deaths {
    grid-area: 3 / 1 / 4 / 2;
  }
  .suspects {
    grid-area: 2 / 2 / 3 / 3;
  }
  .refuses {
    grid-area: 3 / 2 / 4 / 3;
  }
}
