.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #15141A;
    text-align: center;
    .search{
        h1{
            color: #DEE2E6;
            margin: 41px ;
        }
    }
}